@media (max-width: 400px) {
    #profile-text {
        display: none;
    }
    
    #profile-container {
        padding: 8px 8px;

    }

    #theme-profile {
        gap: 13px;
    }
}

/* @media (min-width: 768px) and (max-width: 950px) {
    #nav-search {
        display: hidden;
    }
}

@media (min-width: 648px) and (max-width: 768px) {
    #nav-search {
        display: inline;
    }
}

@media (max-width: 648px) {
    #nax-search {
        display: hidden;
    }
} */